<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Insert pictures</h1>
    <form action="/insert_image/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="picture">
        <input type="text" name="description" placeholder="description">
        <button type="submit">Submit</button>
    </form>

    <h1>insert Team</h1>
    <form action="/insert_team/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="picture" >
        <input type="text" name="name" placeholder="name">
        <input type="text" name="designation" placeholder="designation">
        <input type="text" name="twitter" placeholder="twitter URL">
        <input type="text" name="facebook" placeholder="facebook URL">
        <input type="text" name="linkedin" placeholder="linkedin URL">
        <button type="submit">Submit</button>
    </form>

    <h1>insert testimonial</h1>
    <form action="/insert_testimonial/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="picture" >
        <input type="text" name="name" placeholder="name">
        <input type="text" name="message" placeholder="message">
        <button type="submit">Submit</button>
    </form>

    <h1>insert Contact</h1>
    <form action="/insert_contact/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="subject" placeholder="subject">
        <input type="text" name="message" placeholder="message">
        <button type="submit">Submit</button>
    </form>

    <h1>Insert blog</h1>
    <form action="/insert_blog/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="date" name="date" >
        <input type="file" name="picture" >
        <input type="text" name="name" placeholder="name">
        <input type="text" name="description" placeholder="description">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>