{% extends 'layout.html' %}
{% load static %}

<body class="blog-details-page">
  {% block content %}
  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'farm:home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="AgriCulture">
        <!-- <h1 class="sitename">AgriCulture</h1>  -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'farm:home' %}">Home</a></li>
          <li><a href="{% url 'farm:about' %}">About Us</a></li>
          <li><a href="{% url 'farm:services' %}">Our Services</a></li>
          <li><a href="{% url 'farm:testimonials' %}">Testimonials</a></li>
          <li><a href="{% url 'farm:blog' %}">Blog</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="{% url 'farm:contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.webp);">
      <div class="container position-relative">
        <h1>Blog Details</h1>
        <p>These pains, the pleasures, and the shadows are the things that no one wants, and that same place brings relief to those who suffer from them.</p>

        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'farm:home' %}">Home</a></li>
            <li class="current">Blog Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
                </div>

                <h2 class="title">The pains of choice, time, and pleasures are the dignified escape for those who suffer from them.</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'farm:blog-details' posts.id %}">Kiara Keating</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'farm:blog-details' posts.id %}"><time datetime="2020-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'farm:blog-details' posts.id %}">12 Comments</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    Similar things do not happen as often as maximum choices. Some spirits are present. There are things that are difficult to handle, but we can do them.
                    And things happen. Those who want are in pain and need solutions. Things exist, and some of them are not easy to solve. Many things happen and bring suffering.
                  </p>
                
                  <p>
                    There is a fear of pain, and things are uncertain. Some things cannot be rejected. Things happen in the worst way. Never a person will be free of the suffering. Things are happening.
                  </p>
                
                  <blockquote>
                    <p>
                      The real struggle is between understanding time and taking action. Some things happen to us and affect our thinking. Some things do not make things easier.
                    </p>
                  </blockquote>
                
                  <p>
                    There are difficult things that have to be solved by experts. The way people think is different depending on the pain. Some people have nothing to worry about. Some things are difficult to explain, but they exist.
                    Pain is everywhere and some people are looking for comfort. Every minute matters in this world. No one can escape from it.
                    Some things are painful, but we must continue. Even if we do not want to, we will have to face them. Many times, it's difficult to understand why things happen this way.
                  </p>
                
                  <h3>And what things must be done to overcome challenges.</h3>
                  <p>
                    Some tasks are difficult to finish, but it's possible if we try hard. Some things take time. We must look for solutions, and the best ones are sometimes the hardest.
                    Some challenges make us question what we believe. This happens over and over, but it is important to stay focused.
                  </p>
                  <img src="{% static 'assets/img/blog/blog-inside-post.jpg' %}" class="img-fluid" alt="">
                
                  <h3>And how things get better after the worst is gone.</h3>
                  <p>
                    Some things take time to get better. It's not easy to go through everything, but it will be better. People face different situations and go through various struggles.
                    Some of the best moments happen when you least expect them.
                  </p>
                  <p>
                    Some things are difficult to explain. We face challenges, but we learn from them. It is important to understand the lessons that life teaches us.
                  </p>
                </div><!-- End post content -->
                

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">Business</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

        <!-- Blog Comments Section -->
<section id="blog-comments" class="blog-comments section">

  <div class="container">

    <h4 class="comments-count">8 Comments</h4>

    <div id="comment-1" class="comment">
      <div class="d-flex">
        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-1.jpg' %}" alt=""></div>
        <div>
          <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
          <time datetime="2020-01-01">01 Jan,2022</time>
          <p>
            And all things have their own reason. Trouble often comes, but there is also joy. It is difficult at times, but we must persevere.
            Truth is hidden in the struggles. Some things can be difficult to manage, but it is part of life.
          </p>
        </div>
      </div>
    </div><!-- End comment #1 -->

    <div id="comment-2" class="comment">
      <div class="d-flex">
        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-2.jpg' %}" alt=""></div>
        <div>
          <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
          <time datetime="2020-01-01">01 Jan,2022</time>
          <p>
            Sometimes we face times of doubt, but we must push through. It's hard to deal with, but not impossible. It takes patience and strength.
          </p>
        </div>
      </div>

      <div id="comment-reply-1" class="comment comment-reply">
        <div class="d-flex">
          <div class="comment-img"><img src="{% static 'assets/img/blog/comments-3.jpg' %}" alt=""></div>
          <div>
            <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
            <time datetime="2020-01-01">01 Jan,2022</time>
            <p>
              It’s not always easy to escape. Sometimes we’re forced into hard choices. Despite it all, we must find the courage to carry on. It's challenging, but worth the effort.
            </p>
          </div>
        </div>

        <div id="comment-reply-2" class="comment comment-reply">
          <div class="d-flex">
            <div class="comment-img"><img src="{% static 'assets/img/blog/comments-4.jpg' %}" alt=""></div>
            <div>
              <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
              <time datetime="2020-01-01">01 Jan,2022</time>
              <p>
                Some things can’t be easily explained. But through our struggles, we gain insight. Even when everything seems impossible, we must find ways to push through and keep moving forward.
              </p>
            </div>
          </div>

        </div><!-- End comment reply #2-->

      </div><!-- End comment reply #1-->

    </div><!-- End comment #2-->

    <div id="comment-3" class="comment">
      <div class="d-flex">
        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-5.jpg' %}" alt=""></div>
        <div>
          <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
          <time datetime="2020-01-01">01 Jan,2022</time>
          <p>
            It’s not always easy to understand the true meaning of things. Sometimes the path forward is unclear. But we must learn to trust the process and move forward with faith in our own abilities.
          </p>
        </div>
      </div>

    </div><!-- End comment #3 -->

    <div id="comment-4" class="comment">
      <div class="d-flex">
        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-6.jpg' %}" alt=""></div>
        <div>
          <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
          <time datetime="2020-01-01">01 Jan,2022</time>
          <p>
            The struggle is real, but so is the strength to overcome it. It’s not always easy, but through patience and determination, we can find peace and clarity.
          </p>
        </div>
      </div>

    </div><!-- End comment #4 -->

  </div>

</section><!-- /Blog Comments Section -->


          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form action="">

                <h4>Post Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Your Name*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Your Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Your Website">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                  <img src="{% static 'assets/img/blog/blog-author.jpg' %}" class="rounded-circle flex-shrink-0" alt="">
                  <div>
                    <h4>Jane Smith</h4>
                    <div class="social-links">
                      <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>

                <p>
                  Indeed, it is an option because of the pain caused by the pleasures. The method is such that we may avoid accusations. These things repel the pain of official duties, never enduring the harshness of life. It is that accusation which leads to an escape from the pleasures.
                </p>
                

              </div>

            </div><!--/Blog Author Widget -->

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->

            <!-- Categories Widget -->
            <div class="categories-widget widget-item">

              <h3 class="widget-title">Categories</h3>
              <ul class="mt-3">
                <li><a href="#">General <span>(25)</span></a></li>
                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                <li><a href="#">Travel <span>(5)</span></a></li>
                <li><a href="#">Design <span>(22)</span></a></li>
                <li><a href="#">Creative <span>(8)</span></a></li>
                <li><a href="#">Educaion <span>(14)</span></a></li>
              </ul>

            </div><!--/Categories Widget -->

            <!-- Recent Posts Widget 2 -->
            <div class="recent-posts-widget-2 widget-item">

              <h3 class="widget-title">Recent Posts</h3>

              <div class="post-item">
                <h4><a href="{% url 'farm:blog-details' posts.id %}">Nothing bland at all, but in nothingness</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div><!-- End recent post item-->
              
              <div class="post-item">
                <h4><a href="{% url 'farm:blog-details' posts.id %}">However, and it is prevented</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div><!-- End recent post item-->
              
              <div class="post-item">
                <h4><a href="{% url 'farm:blog-details' posts.id %}">For this reason, and so that it is most similar, one will be affected</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div><!-- End recent post item-->
              
              <div class="post-item">
                <h4><a href="{% url 'farm:blog-details' posts.id %}">The body’s labor will become evident for this reason</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div><!-- End recent post item-->
              
              <div class="post-item">
                <h4><a href="{% url 'farm:blog-details' posts.id %}">And the corrupt pains that hurt</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div><!-- End recent post item-->
              

            </div><!--/Recent Posts Widget 2 -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>
  {% endblock %}


</body>

</html>